<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- link mio css -->
    <link rel="stylesheet" href="style.css">

    <!-- link fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="root">
        <div class="conteiner">

            <!-- conteiner card lato six -->
            <div class="conteiner-card">

                <!-- il mio stato -->
                <div class="stato d-flex ">
                    <!-- img del mio stato -->
                    <div class="my-avatar col-2 ">
                        <img src="./img//avatar_io.jpg" alt="il mio stato">
                    </div>

                    <!-- nome utente  -->
                    <div class="col-3 d-flex align-items-center card-name">
                        <div><strong>Sofia</strong></div>
                    </div>
                    <div class="col-7 d-flex align-items-center card-pulsanti justify-content-end">
                        <i class="fa-solid fa-spinner m-2 text-secondary"></i>
                        <i class="fa-solid fa-message m-2 text-secondary"></i>
                        <i class="fa-solid fa-ellipsis-vertical m-2 text-secondary"></i>
                    </div>
                </div>

                <!-- box notifiche -->
                <div class="box-notifiche d-flex align-items-center">
                    <div class="i-notifiche" col-3>
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="testo-notifiche col-9">
                        <div class="testo">Ricevi notifiche di nuovi messaggi</div>
                        <a class="testo">Attiva notifiche deskop</a>
                    </div>
                </div>

                <!-- barra di ricerca -->
                <div class="input-group ">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="search" class="form-control" placeholder="Cerca ho inizia una nuova chat"
                        aria-label="Username" aria-describedby="basic-addon1" v-model="cerca" :keyup="ricercaNomi()">
                </div>

                <!-- box delle chat attive -->
                <div class="box-lista-utenti">
                    <div :class="(contacts[indiceDinamico] == contacts[index]) ? 'bg-click' : '' "
                        class="box-chat-attiva d-flex align-items-center" v-for="(elem,index) in contacts"
                        @click="visualizzaChat(index)" v-if="elem.visible == true">
                        <div class="img-avatar col-2">
                            <img :src="contacts[index].avatar" alt="">
                        </div>
                        <div class="dati-chat col-8">
                            <div><strong>{{ elem.name }}</strong> </div>
                            <div class="orario-chat">{{getLastMessage(index)}}</div>
                        </div>
                        <div class="orario-chat col-2">
                            {{ getLastHours(index) }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- conteiner lato destro -->
            <div class="conteiner-chat">

                <!-- utente con la quale stai scrivendo -->
                <div class="utente d-flex ">
                    <div class="d-flex col-2 align-items-center ">
                        <div class="d-flex align-items-center avatar-utente">
                            <img :src="contacts[indiceDinamico].avatar" alt="il mio stato">
                            <span><strong>{{contacts[indiceDinamico].name}}</strong></span>
                        </div>

                    </div>
                    <div class="col-10 d-flex align-items-center card-pulsanti justify-content-end">
                        <i class="fa-solid fa-magnifying-glass m-2 text-secondary"></i>
                        <i class="fa-solid fa-link m-2 text-secondary"></i>
                        <i class="fa-solid fa-ellipsis-vertical m-2 text-secondary"></i>
                    </div>
                </div>

                <!-- box messaggi -->
                <div class="box-chat">

                    <!-- messaggi inviati e ricevuti -->
                    <div class="messaggi-chat mt-5" v-for="(elem,index) in contacts[indiceDinamico].messages">
                        <div>
                            <div class="chat"
                                :class="(elem.status == 'sent') ? 'bg-success margin-chat' : 'bg-light ' ">
                                {{elem.message}}

                                <!-- oraio del messaggio  -->
                                <span class="testo-orari"> {{getLastHoursChat(elem)}}</span>

                                <!-- button per cancellare messaggi chat  -->
                                <span>
                                    <button type="button" class="btn btn-sm  dropdown-toggle dropdown-toggle-split"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu text-center">
                                        <li class="dropdown-item" href="#">Message info</li>
                                        <li class="dropdown-item" href="#" @click="deleteMessage( index )">Delete
                                            Message</li>
                                    </ul>
                                </span>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- input per scrivere in chat -->
                <div class="message input-group">
                    <span class="input-group-text"><i class="fa-regular fa-face-smile"></i></i></i></span>
                    <input id="prova" type="text" class="form-control" placeholder="Scrivi un messaggio"
                        aria-label="Amount (to the nearest dollar)" @keyup.enter="saveElement" v-model="newMessage">
                    <span class="input-group-text"><i class="fa-solid fa-microphone"></i></span>
                </div>
            </div>
        </div>
    </div>

    <!-- script day.js -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <!-- script Vue.js -->
    <script src=" https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>

    <!-- script Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- script mio js-->
    <script type="text/javascript" src="./main.js"></script>
</body>

</html>