#root {
    background: rgb(39, 135, 128);
    background: linear-gradient(180deg, rgba(39, 135, 128, 1) 13%, rgba(204, 201, 201, 1) 13%);
    width: 100vw;
    height: 100vh;
    padding-top: 20px;

}

/* conteiner generale */
.conteiner {
    width: 80%;
    height: calc(100% - 20px);
    background-color: white;
    margin: 0 auto;

    display: flex;
}

/* conteiner lato six utenti */
.conteiner-card {
    width: 30%;
    height: 100%;

}

/* conteiner lato dx chat */
.conteiner-chat {
    width: 70%;
    height: 100%;
}

.stato,
.utente {
    width: 100%;
    height: 6%;
    background-color: rgb(214, 212, 210, 1)
}

.my-avatar>img {
    height: 80%;
    border-radius: 50%;
    margin-top: 0.3rem;
    
}

.card-name,
.card-pulsanti {
    height: 100%;

}

.testo {

    font-size: 11px;
    line-height: 100%;
    margin-left: 1rem;
}

.box-notifiche {
    height: 6%;
    background-color: rgb(140, 228, 228, 1);

}

.fa-bell-slash {
    border-radius: 50%;
    background-color: white;
    padding: 0.5rem;
    margin-left: 10px;
}

.box-lista-utenti {
    height: 82%;
    width: 100%;
    overflow:auto;
}

.avatar-utente > img {
    width: 35%;
    border-radius: 50%;
    margin-top: 0.1rem;
    margin-right: 0.5rem;
}

.box-chat {
    height: 88%;
    width: 100%;
    background-image: url(./img/mine.jpg);
    overflow:auto
}

.message {
    height: 6%;
    width: 100%;
    background-color: rgb(42, 165, 65);
}
.img-avatar > img{
    width: 100%;
    border-radius: 50%;   
}

.dati-chat{
    font-size: 12px;
}

.orario-chat{
    font-size: 10px;
}

.box-chat-attiva{
    border-bottom: 1px solid lightgrey;
}

.chat{
    width: 40%;
    border-radius: 10px;
    text-align: center;
    margin: 1rem 2rem;
}

.margin-chat{
    margin-left: auto;
}

.bg-click{
    background-color: rgb(206, 203, 203, 1);
}

.testo-orari{
    font-size: 10px;
    margin-left: 10px;
}

#select{
    border: 0;
}